{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>WRONG trivia!</h1>

<p>This website will ask you a series of trivia questions, and then
tell you what your answers were and how you scored based on INaccuracy! Only wrong anwers count to increase your score! This is kind of silly, but it
illustrates the idea of a "session" in a webapp&mdash;the thing that
allows you to "remember" a user's answers from one page to another.</p>

  <ul>
    <li><a href="/page1">Click here to get started!</a></li
  </ul>
{% endblock %}
